.plotter-head {
  color: #5c5b5dff;
  text-align: left;
  border-bottom: 1px solid #5c5b5d;
  width: 50%;
  font-weight: 100;
  padding-left: 30px;
  margin-top: 32px;
  margin-bottom: 50px;
  padding-bottom: 10px;
}
.container{
  margin: 0px !important;
  padding: 0px !important;
}
.no-padding{
  padding:0px !important
}
html,body,#root,.App,.height-full{
  height:100%
}
.app-chart{
  width: 80%;
    margin: 20px auto 0 auto;
  
}
.btn.btn-outline-primary{
  color: #9c50e5;
  border-color: #9c50e5;
}
.btn.btn-outline-primary:hover ,.btn.btn-outline-primary:active ,.btn.btn-outline-primary:focus{
  background-color:#9c50e5;
  border-color:#9c50e5;
}
.app-DimensionMeasures{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 77%;
  margin: 0 auto;
  margin-bottom: 33px;
}
.app-DimensionMeasures span {
  width: 20%;
}
.dimensionMeasures-mainAcontainer{
  display: flex;
}
.dimensionMeasures-draggableArea div{
  height: 100%;
}
.dimensionMeasures-draggableArea{
  width: 100%;
  background-color: #f2f2f2;
  height: 50px;
  justify-content: flex-end;
}
.dimensionMeasures-container{
  width: 100%;
}
@media screen and (max-width: 767px) {
  .app-chart {
    width: 90%;
    height: 500px;
}
.app-DimensionMeasures{
  width: 90%;
  font-size: 9px;
}
}